.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.35;
  letter-spacing: 0.03em;
  color: var(--white-color);
  text-decoration: none;
}

.web-logo {
  color: var(--accent);
}
